* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background-image: linear-gradient(#BCF9FE, #0096BB);
    background-repeat: no-repeat;
}
//Row #1 CSS
.containerMargin {
    margin: 30px 0px 100px 0px;
}
.txtMain {
    color: #2287A3;
}


.txtWeather {
    color: #BAFAFF;
}

.row2Margin {
    margin-top: 20px;
}
.degreesSize {
    font-size: 95px;
    margin-left: 30px;
}
.cloudySize {
    font-size: 25px;
}
