* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-image: linear-gradient(#BCF9FE, #0096BB);
  background-repeat: no-repeat;
}

.containerMargin {
  margin: 30px 0px 140px 0px;
}

.txtMain {
  color: #2287A3;
}

.row2Margin {
  margin-top: 20px;
}

.degreesSize {
  font-size: 95px;
  margin-left: 30px;
}

.txtWeather {
  color: #BAFAFF;
}

.cloudySize {
  font-size: 25px;
}
